<!DOCTYPE html>
<html>
    <!-- This is my heading now -->
    <%- include ('./partials/head.ejs', {page: 'New'}) %>
    
    <!-- This is my nav bar now -->
    <%- include ('./partials/nav.ejs') %>

        <section class="hero-is-medium has-background-light">
            <div class="hero-body">
                <h1 class="title">New Product page</h1>
            </div>
        </section>
<body>
    <form action="/cars/create" method="POST">
        <div class="field">
            <label class="label">Car Make</label>
            <div class="control">
                <input class="input" type="text" placeholder="My new favorite product" name="car_make" />
            </div>
        </div>
        <div class="field">
            <label class="label">Car Model</label>
            <div class="control">
                <input class="input" type="text" placeholder="My new favorite product" name="car_model" />
            </div>
        </div>

        <div class="field">
            <label class="label">Car Price</label>
            <div class="control">
                <input class="input" type="number" placeholder="32" name="price" />
            </div>
        </div>

        <div class="field">
            <label class="label">Car Image</label>
            <div class="control">
                <input class="input" type="text" placeholder="http://" name="image" />
            </div>
        </div>
        <div class="field">
            <label class="label">Car Description</label>
            <div class="control">
                <input class="input" type="text" placeholder="Tell the Users all about this" name="descrption" />
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <button class="button is-info is-outlined">Create Car</button>
            </div>
        </div>
    </form>